body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 100px; /* 至少等于页脚的高度 */
}

/*header {
    background: #d43c05;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #b90d0d 1px solid;
}*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: center;
}

header h1 {
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

/*.banner {
    background-image: url('/Users/stephaniexu/Downloads/image_filtered/Dermoid cyst/PMC6631357-vetsci-06-00050-g001.jpg');
    background-size: cover;
    background-position: center;
    height: 250px; /* 或者你想要的高度 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }*/

.banner {
    position: relative; /* Make sure the banner is positioned */
    height: 250px; /* Or the height you want */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden; /* Ensure no overflow from pseudo-element */
}

.banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('image_filtered/Dermoid cyst/PMC6631357-vetsci-06-00050-g001.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(80%); /* Adjust brightness here */
    z-index: -1; /* Place the pseudo-element behind the content */
}

/* 提升白色文字的可读性 */
.banner-content {
    z-index: 2; /* 确保文字内容在遮罩层上方 */
    color: white; /* 白色文字 */
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1); /* 文字阴影增加可读性 */
    position: relative; /* 相对定位保持在遮罩层之上 */
    padding: 20px; /* 根据需要添加内边距 */
    font-size: 1.3em; /* 调整字体大小 */
    text-align: center;
    filter: brightness(100%);
    width: 100%;
}

nav {
    background: #CF4520;
    color: white;
    text-align: center;
    height: 15px;
    padding: 10px;
    
}

nav.container {
    display: flex; /* Continue using flex layout */
    justify-content: center; /* Horizontally center all child items */
    align-items: center; /* Vertically center all child items */
    flex-wrap: nowrap; /* Prevent navigation links from wrapping */
    padding: 0; /* If needed, remove padding */
    list-style-type: none; /* Remove list markers if it's a list */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0px 40px; 
    font-size: 19px;
    font-weight: bold;
    margin-top: -2px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

article {
    margin-top: 20px;
    padding: 20px;
    background: white;
}

input[type="search"] {
    width: 70%;
    padding: 10px;
    margin-right: 100px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Larger font size for readability */
}

button {
    padding: 10px 20px;
    background-color: #CF4520;
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #B31B1B;
}

.image-container {
    position: relative;
    width: 50%; /* Adjust the width as needed */
    background: rgba(0, 0, 0, 0.5)
}

.clickable-image {
    width: 100%;
    cursor: pointer;
}

.overlay-text-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px; /* Adjust the size as needed */
    cursor: pointer;
}

.figures-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.more-content {
    margin-bottom: 100px; /* 调整这个值直到看起来合适 */
}

.slideshow-container {
    width: 100%; 
    overflow: hidden;
}

.image-slider {
    display: flex;
    animation: slide 30s linear infinite;
}

.image-slider a {
    flex: 0 0 auto;
    transition: transform 0.5s ease;
}

.image-slider img {
    width: 200px; /* 设置图片宽度 */
    height: 200px; /* 设置图片高度 */
    object-fit: cover; /* 裁剪并填充至容器，保持图片比例 */
    transition: transform 0.5s ease;
}

.image-slider a:hover img {
    transform: scale(1.1); /* 鼠标悬停时放大 */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.more-link {
    display: block;
    /* 更多样式 */
}

.more-module {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    color: #000;
    text-decoration: none; /* 去除链接下划线 */
    transition: transform 0.3s ease;
}

.more-module:hover {
    transform: scale(1.05); /* 放大效果 */
}

.more-content h2 {
    font-size: 1.5rem; /* 标题大小 */
    margin-bottom: 0.5rem;
}

.more-content p {
    font-size: 1rem; /* 段落文本大小 */
}

.site-footer {
    background-color: #CF4520; /* 页脚背景颜色 */
    color: white; /* 文字颜色 */
    text-align: center; /* 内容居中 */
    padding: 10px 0; /* 上下内边距 */
    font-size: 0.8rem; /* 字体大小 */
    width: 80%;
    position: fixed;
    bottom: 0;
}

.site-footer p {
    margin: 5px 0; /* 段落间距 */
}

.site-footer a {
    color: #fff; /* 链接文字颜色 */
    text-decoration: underline; /* 链接下划线 */
    margin: 0 5px; /* 链接之间的间距 */
}

.download-container {
    text-align: center; /* 图标居中显示 */
    padding: 20px 0; /* 添加一些上下填充 */
    bottom: 500px;
}

.download-container img {
    width: 50px; /* 或者根据实际需要设置图标大小 */
    height: auto; /* 保持图标的高宽比 */
    cursor: pointer; /* 鼠标悬停时显示手形指针 */
}

.all-container {
    max-width: 80%; /* 或者你想要的宽度百分比 */
    margin: 0 auto; /* 上下边距为 0，左右自动以居中内容 */
}